

/*-------------------------------------
Oxygen theme
-------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Oxygen:400|Poppins:400|Amita:400|Indie+Flower:400');

html {font-size: 15px;}

* main, aside, body {
	background-color: white;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1.45;
	color: rgb(2, 0, 0);
	margin-left: 1em;
	margin-right: 1em;
	grid-auto-rows: minmax(300px, auto)
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 200%;
}

h2 {font-size: 175%;}

h3 {font-size: 150%;}

h4 {font-size: 125%;;}

h5 {font-size: 115%;}

small, .text_small {font-size: 0.707em;}



/*-------------------------------------
need some highlighting tab and stuff
-------------------------------------*/




/*-------------------------------------
I followd this example:
https://codepen.io/CrocoDillon/pen/GJclb
-------------------------------------*/
.kontakt_formular {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
	border-style: solid;
	padding-bottom: 1em;
	margin-bottom: 2em;
}


#kontakta_oss_title {
	text-align: center;
	margin-bottom: 1em;
}

.kontakt_formular h3 {
	margin: 1em ;
	color:  rgb(59, 46, 45);
	font-size: 1.5em;
	font-weight: 400;
}

.kontakt_formular input, textarea {
	font-style: inherit;
	width: 100%;
	padding: 1em;
	border: solid;
}

input[type="radio"]{
	max-width: 30px;
}

.kontakt_formular input[type="text"], input[type="email"],  input[type="tel"], textarea {
	max-width: 200px;
	margin: 0 0 2em;
	border: 1px solid #ccc;
	outline: none;
}


.hover_button{
	max-width: 80px;
	background-color: rgb(34, 7, 3);
	color: beige;
	border-radius: 20px;
	transition: background-color 0.3s ease;
}

.hover_button:hover{
	background-color: orangered;
}
.kontakt_formular textarea {
	height: 10em;
}
.kontakt_formular input[type="text"]:focus, input[type="email"]:focus,  input[type="tel"]:focus, textarea:focus {
	background:rgb(245, 245, 220);
}

.kontakt_formular .radio_buttons{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.navigation_menu {
	background: rgba(59, 46, 45, 0.1);
	display:none;
	width:100%;
}

/*Gotland uses Tangerine color and Gotland.se uses brown colors */
.fa-water {
	font-size: 150%;
	color:rgb(59, 46, 45);
	/*not working*/
	transition: color 0.3s ease;
}

.fa-water:hover{
	color: orangered;
}

.navigation_menu ul {
	font-family: 'Indie Flower', cursive;
	list-style:none;
	padding:0;
	text-align:center;
}
.navigation_menu ul li {
	color:rgb(6, 5, 5);
	font-size:1.5em;
	letter-spacing: 2px;
}

.navigation_menu a {
  	text-decoration:none;
	color:rgb(6, 5, 5);
}

.navigation_menu ul li:hover {
	background: rgb(59, 46, 45);
}
.navigation_menu .navigation_link:hover a{
	color:beige;
}
.navigation_menu-toggle:not(.pictures_container) {
	background:none;
    color: rgb(6, 5, 5);
	width:100%;
	text-align:center;
	padding:10px 0;
}
.navigation_menu-toggle a:not(.pictures_container) {
	text-decoration:none;
	color: rgb(51, 51, 51);
}

/*-------------------------------------
Pages grid styling and internal styling
-------------------------------------*/
/* ------------------------------index------------------------------- */

.startpage_container{
	display: grid;
	grid-template-columns: 1fr;
	/*solves overlapping
	https://stackoverflow.com/questions/52675479/why-are-my-css-grid-items-overlapping-when-arranged-in-a-particular-layout*/
	grid-template-rows: auto auto auto;
	grid-auto-rows: minmax(300px, auto);
	grid-template-areas: "start_a" "start_b" "start_c";
}

.djupvik_presentation {
	grid-area: start_a;
}
.news {
	grid-area: start_b;
}

.djupvik_footer {
	grid-area: start_c;
}

.date{
	font-style: italic;
	font-size: small;
}

/* ------------------------------guestboats------------------------------- */

#guestboat_container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	grid-auto-rows: minmax(300px, auto);
	grid-template-areas: 'guest_a' 'guest_b' 'guest_c';
}

#djupvik_presentation{
	grid-area: guest_a;
}
#news{
	grid-area: guest_b;
}

#djupvik_footer{
	grid-area: guest_c;
}



/* ------------------------------turism------------------------------- */

#turism_container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-auto-rows: minmax(300px, auto);
	grid-template-areas: "tur_a" "tur_b";
}
#turism_main {
	grid-area: tur_a;
}
#turism_footer {
	grid-area: tur_b;
}


/* ------------------------------kontakt------------------------------- */
#kontakt_container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	grid-auto-rows: minmax(300px, auto);

	grid-template-areas: "kontakt_a" "kontakt_b" "kontakt_c";
}

#kontakt_main {
	grid-area: kontakt_a;
}

#styrelse_info{
	grid-area: kontakt_b;
}
#kontakt_footer {
	grid-area: kontakt_c;
}


/* ------------------------------historia------------------------------- */
#historia_container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-auto-rows: minmax(300px, auto);
	grid-template-areas: "hist_a" "hist_b";
}

#historia_footer {
	grid-area: hist_b;
}
#djupvik_historia_main{
	grid-area: hist_a;
	display: grid;
	grid-template-columns: 1fr;

	grid-template-rows: auto auto auto;
	grid-auto-rows: minmax(300px, auto);

	grid-template-areas: "hist_main_a" "hist_main_b" "hist_main_c";
}
#djupvik_historia_main #summary_historia {
	grid-area: hist_main_a;
}

#djupvik_historia_main #tempest{
	grid-area: hist_main_b;
}

#namnforklaring{
	grid-area: hist_main_c;

}

/*
solution:
https://stackoverflow.com/questions/13354578/custom-li-list-style-with-font-awesome-icon*/

#namnforklaring ul {
	font-family: 'Amita', cursive;
	line-height: 1.5em;
	list-style: none;
	padding: 0;
  }
#namnforklaring li {
	padding-left: 1.3em;
}

#namnforklaring li:before {
	content: "\f10d"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em; /* same as padding-left set on li */
	width: 1.3em; /* same as padding-left set on li */
  }

  #namnforklaring li:after {
	content: "\f10e"; /* FontAwesome Unicode */

	font-family: FontAwesome;
	display: inline-block;
	margin-left: 1.3em; /* same as padding-left set on li */
	width: 1.3em; /* same as padding-left set on li */
  }
/* ------------------------------pictures------------------------------- */

/*tutorial found here: https://scrimba.com/p/pWqLHa/cBq3PsP
*/

#pictures_page_container {
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: "pic_a" "pic_b";}

#pictures_footer {
	  grid-area: pic_b;
}

#pictures_main {
	display: grid;
	grid-area: pic_a;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(5, 200px);
	grid-gap: 3px;
	grid-auto-flow: dense;
	/*bordure*/
	padding:3px;
}

#pictures_main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#pictures_main .horizontal {
    grid-column: span 2;
}

#pictures_main .vertical {
    grid-row: span 2;
}

#pictures_main .bigger {
    grid-column: span 2;
    grid-row: span 2;
}

@media (max-width:500px) {
	#pictures_main {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));

	}
	#pictures_main .vertical {
		grid-row: span 1;
	}
	#pictures_main .bigger {
		grid-column: span 2;
		grid-row: span 1;
	}
  }

/*--------------------------
unified table
---------------------------*/
.unified_style_table {
	margin:auto;
	margin-top: 2em;
	border-collapse: separate;
	max-width: 500px;
	width: 100%;
	border: solid;
	border-style: ridge;
}

.unified_style_table th, td {
text-align: center;
padding: 8px;
}
.unified_style_table tr:nth-child(even) {background-color:  rgba(34, 7, 3, 0.1); }

/*--------------------------
unified footer
---------------------------*/

.footer{
	margin-top: 4em;
	padding-top: 1em;
	background: rgb(59, 46, 45);
	font-size: 110%;
	color: beige;
	align-content: center;
	text-align: center;
}
.fa-home, .fa-mobile-alt{
	padding-right: 10px;
	font-size: 120%;
}

figure#hamnen_dag_photo {
	align-self: center;
	text-align: center;
}
figure#hamnen_dag_photo > img{
	width: 20vw;
	border: solid;

}

/* overriding blue select2*/
.select2-results__option {
	color: rgb(59, 46, 45);
	background-color: beige;
  }

.select2-results__option--highlighted {
	color: beige !important;
	background-color:rgb(59, 46, 45) !important;
}

.read_more {display: none;}

.read_more_toggle, .konrad_wrapper {
	text-align: center;
}
/* it uses class hover button but the padding must be bigger*/
#myBtn{
	padding: 1em;
}
