@import url('https://fonts.googleapis.com/css?family=Oxygen:400|Poppins:400|Amita:400|Indie+Flower:400');

/*--------------------------------------
reset
---------------------------------------*
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset */



/*-------------------------------------
Poppins or Oxygen(?) theme
-------------------------------------*/


:root {
	--classic_brown:  rgb(59, 46, 45);
	--highlights: orangered;
}
/*NOT BODY or ugly*/
html main, aside{
font-size: 16px;
padding: 2em 2em 2em 2em;
}

* html h1, h2, h3, h4, h5, body {
  text-align: left;
  font-weight: 400;
  line-height: 1.8;
}

h1 {
	font-family: "Indie Flower", sans-serif;
	font-size: 300%;
	margin-bottom: 4vw;
}

h2 {margin-top: 4vw;
	font-size: 165%;}

h3 {
	margin-top: 4vw;
	font-size: 150%;}

h4 {font-size: 125%;;}

h5 {font-size: 115%;}

html body{
	font-family: 'Poppins', sans-serif;
}

small, .text_small {font-size: 0.707em;}

/*-------------------------------------
I followd this example:
https://codepen.io/CrocoDillon/pen/GJclb
-------------------------------------*/
.kontakt_formular {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
	border-style: solid;
	padding-bottom: 1em;
	margin-bottom: 2em;
}

#kontakta_oss_title {
	text-align: center;
	margin-bottom: 1em;
}

.kontakt_formular h3 {
	margin: 1em ;
	color:  var(--classic_brown);
	font-size: 1.5em;
	font-weight: 400;
}

.kontakt_formular input, textarea {
	width: 100%;
	padding: 1em;
	border: solid;
}

input[type="radio"]{
	max-width: 30px;
}

.kontakt_formular input[type="text"], input[type="email"],  input[type="tel"], #meddelande {
	max-width: 200px;
	margin: 0 0 2em;
	border: 1px solid #ccc;
	outline: none;
}

.hover_button{
	max-width: 80px;
	background-color: rgb(34, 7, 3);
	color: beige;
	border-radius: 20px;
	transition: background-color 0.3s ease;
}

.hover_button:hover{
	background-color: var(--highlights);
}
.kontakt_formular #meddelande {
	height: 10em;
}
.kontakt_formular input[type="text"]:focus, input[type="email"]:focus,  input[type="tel"]:focus, #meddelande:focus {
	background:rgb(245, 245, 220);
}

.kontakt_formular .radio_buttons{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}


/*------------------------------------------------------------------------------
Nav menu
Gotland uses Tangerine color and Gotland.se uses brown colors
--------------------------------------------------------------------------------*/
.fa-water {
	font-size: 150%;
	color:var(--classic_brown);
	text-align: center;
	margin: 0 auto;
	/*don't want it to eat the menu*/
	margin-top: 20px;
	width: 100%;
	transition: color 0.3s ease;
}

.fa-water:hover{
	color: var(--highlights);
}

* header {
	margin: 0;
	padding: 0;
}

.navigation_menu {
	width: 100%;
	list-style:none;
	text-align:center;
	font-size:1.5em;
	letter-spacing: 3px;
	background-color: rgba(59, 46, 45, 0.1);
	margin: 0;
	padding: 0;
	display:none;
	width:100%;
}

.navigation_menu a {
	font-family: 'Indie Flower', cursive;
  	text-decoration:none;
	color:var(--classic_brown);
}

.navigation_link:hover {
	width: 100%;
	background: var(--classic_brown);
}
.navigation_link:hover a{
	width: 100%;
	color:beige;
}
.navigation_menu-toggle {
	width: 100%;
    color: var(--classic_brown);
	width:100%;
	text-align:center;
}

/*-------------------------------------
Pages grid styling and internal styling
-------------------------------------*/
/* ------------------------------index------------------------------- */

.startpage_container{
	display: grid;
	grid-template-columns: 1fr;
	/*solves overlapping
	https://stackoverflow.com/questions/52675479/why-are-my-css-grid-items-overlapping-when-arranged-in-a-particular-layout*/
	grid-template-rows: auto auto auto;
	grid-auto-rows: minmax(300px, auto);
	grid-template-areas: "start_a" "start_b" "start_c";
}

.djupvik_presentation {
	grid-area: start_a;
}
.news {
	grid-area: start_b;
}

.djupvik_footer {
	grid-area: start_c;
}

.date{
	font-style: italic;
	font-size: small;
}

/* ------------------------------guestboats------------------------------- */

#guestboat_container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	grid-auto-rows: minmax(300px, auto);
	grid-template-areas: 'guest_a' 'guest_b' 'guest_c';
}

#djupvik_presentation{
	grid-area: guest_a;
}
#news{
	grid-area: guest_b;
}

#djupvik_footer{
	grid-area: guest_c;
}



/* ------------------------------turism------------------------------- */

#turism_container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-auto-rows: minmax(300px, auto);
	grid-template-areas: "tur_a" "tur_b";
}
#turism_main {
	grid-area: tur_a;
}
#turism_footer {
	grid-area: tur_b;
}


/* ------------------------------kontakt------------------------------- */
#kontakt_container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto;
	grid-auto-rows: minmax(300px, auto);
	grid-template-areas: "kontakt_a" "kontakt_b" "kontakt_c";
}

#kontakt_main {
	grid-area: kontakt_a;
}

#styrelse_info{
	grid-area: kontakt_b;
}
#kontakt_footer {
	grid-area: kontakt_c;
}

/* ------------------------------historia------------------------------- */
#historia_container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-auto-rows: minmax(300px, auto);
	grid-template-areas: "hist_a" "hist_b";
}

#historia_footer {
	grid-area: hist_b;
}
#djupvik_historia_main{
	grid-area: hist_a;
	display: grid;
	grid-template-columns: 1fr;

	grid-template-rows: auto auto auto;
	grid-auto-rows: minmax(300px, auto);

	grid-template-areas: "hist_main_a" "hist_main_b" "hist_main_c";
}
#djupvik_historia_main #summary_historia {
	grid-area: hist_main_a;
}

#djupvik_historia_main #tempest{
	grid-area: hist_main_b;
}

#namnforklaring{
	grid-area: hist_main_c;

}

/*
solution:
https://stackoverflow.com/questions/13354578/custom-li-list-style-with-font-awesome-icon*/

#namnforklaring {
	list-style: none;

}

.namnforklaring_list_item{
	font-family: 'Indie flower', cursive;
	font-size: 1.2em;
	/*between the elements*/
	margin: 0.5em;
	/*margin left*/
	margin-left: 3em;
	font-stretch: extra-expanded;
}

#namnforklaring li:before {
	content: "\f10d"; /* FontAwesome Unicode */
	font-family: FontAwesome;
	color: var(--classic_brown);
	display: inline-block;
	margin-left: -1.3em; /* same as padding-left set on li */
	width: 1.3em; /* same as padding-left set on li */
}

#namnforklaring li:after {
	content: "\f10e";
	font-family: FontAwesome;
	color: var(--classic_brown);
	margin-left: 0.5em;
	width: 0.5em;
}
/* ------------------------------pictures------------------------------- */

/*tutorial found here: https://scrimba.com/p/pWqLHa/cBq3PsP
*/

#pictures_page_container {
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas: "pic_a" "pic_b";}

#pictures_footer {
	  grid-area: pic_b;
}

#pictures_main {
	display: grid;
	grid-area: pic_a;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(5, 200px);
	grid-gap: 3px;
	grid-auto-flow: dense;
	/*bordure*/
	padding:3px;
}

#pictures_main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

#pictures_main .horizontal {
    grid-column: span 2;
}

#pictures_main .vertical {
    grid-row: span 2;
}

#pictures_main .bigger {
    grid-column: span 2;
    grid-row: span 2;
}

@media (max-width:500px) {
	#pictures_main {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));

	}
	#pictures_main .vertical {
		grid-row: span 1;
	}
	#pictures_main .bigger {
		grid-column: span 2;
		grid-row: span 1;
	}
  }

/*--------------------------
unified table
---------------------------*/
.unified_style_table {
	margin:auto;
	margin-top: 2em;
	border-collapse: separate;
	max-width: 500px;
	width: 100%;
	border: solid;
	border-style: ridge;
}

.unified_style_table th, td {
text-align: center;
padding: 8px;
}
.unified_style_table tr:nth-child(even) {background-color:  rgba(34, 7, 3, 0.1); }

/*--------------------------
unified footer
---------------------------*/

.footer{
	margin-top: 2em;
	margin-right: 0;
	margin-left: 0;
	padding-top: 1em;
	background: var(--classic_brown);
	font-size: 110%;
	color: beige;
	align-content: center;
	text-align: center;
}
.fa-home, .fa-mobile-alt{
	padding-right: 10px;
	font-size: 120%;
}
/*--------------------------
end unified footer
---------------------------*/

figure#hamnen_dag_photo {
	align-self: center;
	text-align: center;
}
figure#hamnen_dag_photo > img{
	width: 20vw;
	border: solid;

}

/* overriding blue select2*/
.select2-results__option {
	color: var(--classic_brown);
	background-color: beige;
  }

.select2-results__option--highlighted {
	color: beige !important;
	background-color:rgb(59, 46, 45) !important;
}

.read_more {display: none;}

.read_more_toggle, .konrad_wrapper {
	text-align: center;
}
/* it uses class hover button but the padding must be bigger*/
#myBtn{
	padding: 1em;
}
